body {
	margin:0 auto;
  background:url('../images/bkg_coffeeBeans.jpg') repeat top left;
}

.clearfix::after {
	content: "";
	display:block;
	clear:both;
}

.brown {
  background-color:#e1d3cd !important;
}

#mapContainer {
  border: 1px solid #00a098;
  padding:20px;
}
 /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  min-height:500px;
  height: 100%;
  width: 100%;
}
