body {
	margin:0 auto;
  background:url('../images/bkg_coffeeBeans.jpg') repeat top left;
}

.clearfix::after {
	content: "";
	display:block;
	clear:both;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
        width: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }